
<app-navbar></app-navbar>
<div class="container">
  <div class="jumbotron mt-5">
      <h3 class="display-4 text-center font-weight-normal">Welcome to PAL Learning System</h3>
      <p class="lead text-center mt-3 font-weight-normal"><b>P</b>latform for <b>A</b>daptive <b>L</b>earning provides you a smart way to manage your learnings, recommends courses,
        tracks your learning progress, predicts the best approach for you.</p>
      <hr class="my-4">
      <p class="text-center">
        This platform is built with machine-learning and deep-learning algorithms to enhance the learning speed of the course you are really passionate about 
        
      </p>
      <p class="lead text-center">
        <a class="btn btn-primary btn-lg" href="#" role="button">Know  more</a>
      </p>
  </div>
</div>